* {
  font-family: Helvetica, Arial, sans-serif;
}

#card-wrapper {
  /* display: grid;
  grid-template-columns: 100% 10% 10% 10% 10%;
  grid-template-rows: 10% 10%; */
}

#avatar {
  border-radius: 50%;
  width: 3%;
}

#likes-wrapper {
  border-top: 1px solid #d1d1d19a;
  border-bottom: 1px solid #d1d1d19a;
}
